<!--
 - Created by mpszonka on 07.11.2019.
 -->

<!-- questionnaire -->
<template>
    <lightning-card title=''>
        <lightning-layout multiple-rows="true" class="slds-p-around_small">
            <lightning-layout-item size="12" flexibility="true" class="header">
                Hi {userName}! Share your feedback with us!
            </lightning-layout-item>
            <lightning-layout-item size="12" flexibility="true">
                <form onsubmit={handleSubmit}>
                    <lightning-input
                            class="formRow"
                            type="checkbox"
                            label="Attended in event"
                            name="Attended__c"
                            onchange={handleInputChange}
                            checked>
                    </lightning-input>
                    <lightning-input
                            class="formRow"
                            type="number"
                            label="Age"
                            name="MemberAge__c"
                            onchange={handleInputChange}
                            required>
                    </lightning-input>
                    <lightning-combobox
                            class="formRow"
                            options={scoringOptions}
                            label="Score"
                            name="Score__c"
                            onchange={handleScoreInput}
                            value={score}
                            required>
                    </lightning-combobox>
                    <lightning-input
                            class="formRow"
                            type="text"
                            label="Comments"
                            name="Comment__c"
                            onchange={handleInputChange}
                            required>
                    </lightning-input>
                    <lightning-input
                            class="formRow"
                            type="checkbox"
                            label="Would you recommend this event?"
                            name="If_recommend__c"
                            onchange={handleInputChange}
                            checked>
                    </lightning-input>
                    <template if:false={ifRecommend}>
                        <lightning-input
                                class="formRow"
                                type="text"
                                label="Tell us why"
                                name="NotRecommendReason__c"
                                onchange={handleInputChange}
                                required>
                        </lightning-input>
                    </template>
                    <div class="buttonWrapper">
                        <lightning-button
                                label="Save"
                                variant="brand"
                                type="submit">
                        </lightning-button>
                    </div>
                </form>
            </lightning-layout-item>
        </lightning-layout>
    </lightning-card>
</template>