/**
 * Created by mpszonka on 07.11.2019.
 */

.header {
    padding: 0 0 20px 0;
    font-size: 20px;
    font-weight: 500;
}

.buttonWrapper {
    padding-top: 20px;
}

.formRow {
    padding: 5px 0;
}