<!--
 - Created by mpszonka on 08.11.2019.
 -->

<!-- Search Page -->
<template>
    <lightning-card title="Related Contacts without cases">
        <lightning-layout multiple-rows="true">
            <lightning-layout-item size="12" flexibility="auto">
                <div class="slds-theme_default">
                    <center>
                        <p><b>Show Modal Box using Lightning Web Componentes</b></p><br/><br/>
                        <lightning-button label="Show Modal" variant="brand" onclick={openModal}></lightning-button>
                    </center>
                    <template if:true={modalOpened}>
                        <div class="demo-only" style="height: 640px;">
                            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
                                     aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                                <div class="slds-modal__container">
                                    <header class="slds-modal__header">
                                        <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
                                                title="Close" onclick={closeModal}>
                                            <lightning-icon icon-name="utility:close" size="medium">
                                            </lightning-icon>
                                            <span class="slds-assistive-text">Close</span>
                                        </button>
                                        <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Modal
                                            Box
                                            Example</h2>
                                    </header>
                                    <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                                        <center><h2><b>Welcome to Salesforce Code Crack</b></h2><br/>
                                            <p>Happy Learning!!!</p>
                                        </center>
                                    </div>
                                    <footer class="slds-modal__footer">
                                        <lightning-button label="Cancel" variant="neutral"
                                                          onclick={closeModal}></lightning-button>&nbsp;&nbsp;&nbsp;&nbsp;
                                        <lightning-button label="Save" variant="brand"
                                                          onclick={saveMethod}></lightning-button>
                                    </footer>
                                </div>
                            </section>
                            <div class="slds-backdrop slds-backdrop_open"></div>
                        </div>
                    </template>
                </div>
            </lightning-layout-item>
            <lightning-layout-item size="7" flexibility="auto" padding="around-large">
                <form onsubmit={handleSubmit} onchange={handleChange}>
                    <lightning-combobox
                            name="employer"
                            label="Employer"
                            placeholder="Select employer"
                            options={employersComboBoxValues}
                            required>
                    </lightning-combobox>
                    <lightning-dual-listbox
                            name="skills"
                            label="Select candidates skills"
                            source-label="Available"
                            selected-label="Selected"
                            options={skillsComboBoxValues}
                            required>
                    </lightning-dual-listbox>
                    <div class="buttonWrapper">
                        <lightning-button
                                label="Find candidates"
                                variant="brand"
                                type="submit">
                        </lightning-button>
                    </div>
                </form>
            </lightning-layout-item>
            <lightning-layout-item  flexibility="auto">
                <div style="height: 300px;">
                    <lightning-datatable
                            key-field="id"
                            data={candidates}
                            columns={columns}
                            onrowaction={handleRowAction}>
                    </lightning-datatable>
                </div>
            </lightning-layout-item>
        </lightning-layout>
    </lightning-card>
</template>