<!--
 - Created by mpszonka on 08.11.2019.
 -->

<!-- Search Page -->
<template>
    <lightning-card title=''>
        <lightning-layout multiple-rows="true" class="slds-p-around_small">
            <form onsubmit={handleSubmit} onchange={handleChange}>
                <lightning-combobox
                        name="employer"
                        label="Employer"
                        placeholder="Select employer"
                        options={employersComboBoxValues}
                        required>
                </lightning-combobox>
                <lightning-dual-listbox
                        name="skills"
                        label="Select candidates skills"
                        source-label="Available"
                        selected-label="Selected"
                        options={skillsComboBoxValues}
                        required>
                </lightning-dual-listbox>
                <lightning-button
                        label="Find candidates"
                        variant="brand"
                        type="submit">
                </lightning-button>
            </form>
        </lightning-layout>
    </lightning-card>
</template>